@font-face {
	font-family: 'Comfortaa'; 
	src: url(/misc/Comfortaa-VariableFont_wght.ttf);
}

* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: Comfortaa;
color: rgb(95, 70, 70);
text-decoration: none;
}

body {
	background-color: rgb(25, 20, 20);
}

nav {
	background-color: rgb(39, 30, 30);
}

nav ul {
margin: auto;
width: 60vw;
height: calc(3vh + 3vw);
}

nav ul li {
	width: 15vw;
	list-style-type: none;
	float: left;
	text-align: center;
	vertical-align: center;
	line-height: calc(3vh + 3vw);
	font-size: calc(2vh + 3vw);
	background-color: rgb(39, 30, 30);
}

nav ul li:hover {
	background-color: rgb(50, 30, 30);
}

nav ul li a:hover {
	color: rgb(158, 116, 116);
	text-decoration: none;
	text-shadow: rgb(100, 74, 74) 0px 0 10px;
}

nav ul li a:active {
	color: rgb(224, 166, 166);
	text-decoration: none;
	text-shadow: rgb(160, 119, 119) 0px 0 10px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

h1 {
	background-color: rgb(29, 24, 24);
	text-align: center;
	font-size: calc(2vh + 3vw);
}

p {
	height: auto;
	padding-top: calc(1vh + 2vw);
	width: 75vw;
	margin: auto;
	font-size: calc(1vh + 1.5vw);
	text-align: justify;
	vertical-align: middle;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: calc(2vh + 3vw);
	background-color: rgb(39, 30, 30);   
}