:root
{
	--DarkerRed: #2a1818;
	--DarkRed: #3f2323;
	--Red: #7c2626;
	--LightRed: #c35858;
	--Whiteish: #facaca;
  --AnimationSpeed: 0.75s
}

* { padding: 0; margin: 0; transition: all var(--AnimationSpeed); text-decoration: none; list-style: none;}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.darker-green { background-color: var(--DarkerRed); } 
.dark-green { background-color: var(--DarkRed);  } 
.green { background-color: var(--Red); } 
.light-green { background-color: var(--LightRed);  } 
.whiteish { background-color: var(--Whiteish);  }

.circle {
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.semi-square {
  aspect-ratio: 1/1;
  border-radius: 10%;
}
.square {
  aspect-ratio: 1/1;
}
.obj1-1, .obj2, .obj1-2, #name, .obj1-3 {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  position: absolute;
}
.obj1-1 {
  width: 50vw;
  rotate: 45deg;
  animation: var(--AnimationSpeed) ease-out 0s 1 RotateRight;
  border: 1vmin solid var(--LightRed);
}
.obj1-2 {
  height: 110%;
  width: 20.1vw;
  left: 40%;
  animation: var(--AnimationSpeed) ease-out 0s 1 FromLeftMiddleCorner;
}
.obj1-3 {
  height: 110%;
  width: 20.1vw;
  left: 60%;
  animation: var(--AnimationSpeed) ease-out 0s 1 FromRightMiddleCorner;
}
.obj2 {
  width: 25vw;
  rotate: 45deg;
  animation: var(--AnimationSpeed) ease-out 0s 1 RotateLeft;
  border: 1vmin solid var(--Red);
}
#name {
  font-size: 6vw;
  color: var(--DarkerRed);
  text-shadow: 0.5vw 0.5vw 0rem var(--Red);
}
.obj3, .obj4, .obj5, .obj6 {
  width: 25vw;
  position: absolute;
  rotate: 45deg;
  translate: -50% -50%;
  border: 1vmin solid var(--DarkRed);
}
.obj3 { top: 0%; left: 0%; 
  animation: var(--AnimationSpeed) ease-out 0s 1 FromLeftTopCorner;}
.obj4 { top: 0%; left: 100%; 
  animation: var(--AnimationSpeed) ease-out 0s 1 FromRightTopCorner;}
.obj5 { top: 100%; left: 0%; 
  animation: var(--AnimationSpeed) ease-out 0s 1 FromLeftBottomCorner;}
.obj6 { top: 100%; left: 100%; 
  animation: var(--AnimationSpeed) ease-out 0s 1 FromRightBottomCorner;}

img {
  padding-top: 0.2vw;
  height: 2vw;
}
.menu-whole{
  top: 0%;
  left: 50%;
  position: absolute;
  width: auto;
  height: auto;
}
.menu{
  width: 3vw;
  height: 3vw;
  text-align: center;
  margin: auto;
  background-color: var(--DarkerRed);
  translate: -50% 0%;
}
.menu-items {
  background-color: var(--Red);
  width: 3vw;
  height: 3vw;
  position: absolute;
  border-radius: 1vw;
  translate: -50% 0%;
}

.item0,.item1,.item2,.item3 { top: 0%; left: 50%; animation: var(--AnimationSpeed) ease-out 0s 1 FromTopMiddleCorner;}

.menu-whole:hover .item0 {width: 20vw; background-color: var(--Whiteish);}
.menu-whole:hover .item1 {top: 3.5vw; width: 20vw; background-color: var(--Whiteish);}
.menu-whole:hover .item2 {top: 7vw; width: 20vw; background-color: var(--Whiteish);}
.menu-whole:hover .item3 {top: 10.5vw; width: 20vw; background-color: var(--Whiteish);}
.menu-whole:hover .menu  {height: 14.5vw; width: 22vw; background-color: var(--Red); border-radius: 0 0 5% 5%;}

.text {
  top: 50%; left: 50%;
  position: absolute;
  translate: -50% -50%;
  font-size: 1.5vw;
  width: auto;
  color: var(--LightRed);
  text-shadow: 0.1vw 0.1vw 0rem var(--Red);
}
.line1 {top: 35vh;}
.line2 {top: 40vh;}
.line3 {top: 45vh;}
.line4 {top: 50vh;}
.line5 {top: 55vh;}
.line6 {top: 60vh;}

.link-list {
  top: 50%;
  left: 50%;
  position: absolute;
  translate: -50% -50%;
}
.link-list-link {
  font-size: 5vw;
  color: var(--LightRed);
  text-shadow: 0.2vw 0.2vw 0rem var(--Red);
}
.icon {
  height: 5vw;
  translate: 0% 20%;
}
@keyframes FromLeftTopCorner { 
  0% { transform: translate(-100vw,-100vw); } 
  100% { transform: translate(0%,0%); } }
@keyframes FromRightTopCorner { 
  0% { transform: translate(100vw,-100vw); } 
  100% { transform: translate(0%,0%); } }
@keyframes FromLeftBottomCorner { 
  0% { transform: translate(100vw,100vw); } 
  100% { transform: translate(0%,0%); } }
@keyframes FromRightBottomCorner { 
  0% { transform: translate(100vw,100vw); } 
  100% { transform: translate(0%,0%); } }
@keyframes FromLeftMiddleCorner { 
  0% { transform: translate(-100vw,0vw); } 
  100% { transform: translate(0%,0%); } }
@keyframes FromRightMiddleCorner { 
  0% { transform: translate(100vw,0vw); } 
  100% { transform: translate(0%,0%); } }
@keyframes FromTopMiddleCorner { 
  0% { transform: translate(0vw,-100vw); } 
  100% { transform: translate(0%,0%); } }
@keyframes RotateRight { 
  0% { transform: rotate(0deg) } 
  100% { transform: rotate(360deg) } }
@keyframes RotateLeft { 
  0% { transform: rotate(-0deg) } 
  100% { transform: rotate(-360deg) } }
  
