
:root {   
  --text: rgb(255, 255, 255);
  --textdark: #bb8779;
  --background: #0d0404;
  --primary: #e58883;
  --secondary: #901811;
  --accent: #f62f24;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.5s;
	font-family: "Roboto mono", monospace;
	src: url(/misc/RobotoMono-Regular.ttf);
	color: var(--background);
  text-decoration: none; 
  list-style: none;
}

body {
  display: grid;
  height: 100vh;
  width: 100vh;
  background-color: var(--background);
  margin: 0rem;
  overflow: hidden;
}

h1 {
  font-family: 'Space Mono', monospace;
  font-size: 5vh;
  color: var(--text);
  padding: 0.5rem;
  border-radius: 1000px;
  max-width: 18rem;
  text-align: center;
}

h1:hover {
  background-color: var(--background);
}

nav {
  width: 100vw;
  height: 10vh;
}

#nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  background-color: var(--accent);
}

#item {
  color: var(--text);
  font-size: 3.5vh;
  padding: 0.75rem 4rem;
  border-radius: 1000px;
}

#item:hover {
  background-color: var(--background);
}

.logo {
  flex-grow: 1;
  max-width: 16vw;
}

.icon {
  max-width: 5vh;
}

#main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 90vh;
}

#points {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

#me {
  height: 90vh;
  aspect-ratio: 1/1;
  transform: scaleX(-1);
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 0, 0, 0), var(--background));
}

p {
  color: var(--textdark);
  font-size: 3rem;
}